@model PedidoVm

<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="row pt-4">
            <div class="col-12">
                <h2 class="text-primary mx-5">AVALIE SEU PEDIDO</h2>
                @foreach (var pedido in Model.PedidoDetalhe)
                {
                    <form method="post" enctype="multipart/form-data">
                        <input asp-for="@pedido.Id" hidden name="pedidoDetalheId" />
                   
                            <div class="mx-5 mb-1" style="border: black 1px solid ">
                                <span style="float:left"><strong>Bicicleta: </strong> @pedido.Bicicleta.Nome</span>

                                <br><hr>
                                <div class="rating align-items-center">
                                    <input type="radio" id="star5-@pedido.BicicletaId" name="rating" value="5" /><label for="star5-@pedido.BicicletaId"></label>
                                    <input type="radio" id="star4-@pedido.BicicletaId" name="rating" value="4" /><label for="star4-@pedido.BicicletaId"></label>
                                    <input type="radio" id="star3-@pedido.BicicletaId" name="rating" value="3" /><label for="star3-@pedido.BicicletaId"></label>
                                    <input type="radio" id="star2-@pedido.BicicletaId" name="rating" value="2" /><label for="star2-@pedido.BicicletaId"></label>
                                    <input type="radio" id="star1-@pedido.BicicletaId" name="rating" value="1" /><label for="star1-@pedido.BicicletaId"></label>

                                    <span>Sua avaliação: &nbsp;</span>
                                </div>

                                <!-- Caixa de comentários -->
                                <div class="comment-box mx-3" style="text-align: justify; margin-bottom: 1rem;">
                                    <label for="comment">Comentários adicionais:</label><br>
                                    <textarea id="comment" name="comment" rows="4" cols="50" style="width:100%"></textarea>
                                </div>
                            <button type="submit" class="btn btn-primary form-control w-25 flex">Confirmar avaliação</button>
                            </div>
                    </form>
                }
            </div>
            <div class="col-12 my-3 text-center">
                <a asp-area="Identity" asp-page="/Account/Manage/Index" class="btn btn-primary">
                    Voltar à listagem
                </a>
            </div>

        </div>
    </div>
</div>

<style>
    .rating {
        display: flex;
        flex-direction: row-reverse;
        justify-content: start;
        margin-left: 1rem;
    }

    .rating input {
        display: none;
    }

    .rating label {
        cursor: pointer;
        font-size: 25px;
        color: grey;
    }

    .rating label:before {
        content: '★';
    }

    .rating input:checked ~ label {
        color: gold;
    }

    .comment-box {
        margin-top: 20px;
    }

    .rating > input:checked + label:hover,
    .rating > input:checked + label:hover ~ label,
    .rating > input:checked ~ label:hover,
    .rating > input:checked ~ label:hover ~ label,
    .rating > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }

    .rating:not(:checked) > label:before {
        content: '★ ';
    }

    .rating > input:checked ~ label {
        color: #ffc700;
    }

    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #deb217;
    }
</style>
<script>
    document.querySelectorAll('.rating input').forEach((input) => {
        input.addEventListener('change', () => {
            console.log('Avaliação:', input.value);
        });
    });

    document.getElementById('comment').addEventListener('input', (event) => {
        console.log('Comentário:', event.target.value);
    });

</script>
