@model Empresa

<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2"> @(Model.Id != 0 ? "Atualizar" : "Criar") Empresa</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <form method="post" class="row" enctype="multipart/form-data">
                <input asp-for="Id" hidden />
                <div class="row">
                    <div class="col-12">
                        <div class="border p-3">
                            @*<div asp-validation-summary="ModelOnly"></div>*@
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Nome" class="form-control border-0 shadow" />
                                <label asp-for="Nome" class="ms-2"></label>
                                <span asp-validation-for="Nome" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="Telefone" class="form-control border-0 shadow" />
                                <label asp-for="Telefone" class="ms-2"></label>
                                <span asp-validation-for="Telefone" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Endereco" class="form-control border-0 shadow" />
                                <label asp-for="Endereco" class="ms-2">Endereço</label>
                                <span asp-validation-for="Endereco" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Cidade" class="form-control border-0 shadow" />
                                <label asp-for="Cidade" class="ms-2"></label>
                                <span asp-validation-for="Cidade" class="text-danger"></span>
                            </div>
                            <div class="form-floating py-2 col-12">
                                <input asp-for="Estado" class="form-control border-0 shadow" />
                                <label asp-for="Estado" class="ms-2"></label>
                                <span asp-validation-for="Estado" class="text-danger"></span>
                            </div>

                            <div class="form-floating py-2 col-12">
                                <input asp-for="CodigoPostal" class="form-control border-0 shadow" />
                                <label asp-for="CodigoPostal" class="ms-2">Código Postal (CEP)</label>
                                <span asp-validation-for="CodigoPostal" class="text-danger"></span>
                            </div>


                            <div class="row pt-2">
                                <div class="col-6 col-md-3">
                                    @if (Model.Id != 0)
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Atualizar</button>
                                    }
                                    else
                                    {
                                        <button type="submit" class="btn btn-primary form-control">Criar</button>
                                    }
                                </div>
                                <div class="col-6 col-md-3">
                                    <a asp-controller="Empresa" asp-action="Index" class="btn btn-outline-primary border  form-control">
                                        Voltar à listagem
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts{
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table | align lineheight | numlist bullist indent outdent | emoticons charmap | removeformat',
        })
    </script>
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}