@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}


<div class="container my-4">
    <div class="text-center">
        <h2 style="color: var(--bs-danger);">ACESSO NEGADO... OOPS!</h2>
        <img class="shadow my-3" src="~/images/sign-bicycle.gif" width="25%" />
        <br /> <br />
        <span>
            <strong>O recurso requisitado não pode ser acessado pois requer permissões especiais ou seu acesso é limitado.</strong>
        </span>
    </div>
    
</div>
