@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Registro externo";
}

<div class="d-md-flex half">
    <img class="bg" src="~/images/bg_5.jpg" style="object-fit:cover; object-position: left;" alt="imagem-fundo" />
    <div class="contents">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto">
                        <div class="text-center">

                            <h1>@ViewData["Title"]</h1>
                            <h2 id="external-login-title">Associe sua conta @Model.ProviderDisplayName em seu registro</h2>
                            <hr />

                            <p id="external-login-description" class="text-primary">
                                Sua conta <strong>@Model.ProviderDisplayName</strong> foi associada com sucesso. Para finalizar,
                                preencha os campos abaixo para concluir seu cadastro.
                            </p>
                            <form asp-page-handler="Confirmation" class="row" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-group first col-12 col-lg-6 mb-3">
                                    <label asp-for="Input.Nome" class="form-label">Nome: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Nome" class="form-control" placeholder="Digite seu nome" />
                                    <span asp-validation-for="Input.Nome" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-12 col-lg-6">
                                    <label asp-for="Input.Email" class="form-label">E-mail: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Email" class="form-control" autocomplete="e-mail" aria-required="true" placeholder="Digite seu melhor e-mail" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-md-3">
                                    <label asp-for="Input.CodigoPostal" class="form-label">CEP: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.CodigoPostal" pattern="[0-9]{8}" id="cepInput" maxlength="8" class="form-control" placeholder="Digite seu CEP" />
                                    <span asp-validation-for="Input.CodigoPostal" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-lg-6">
                                    <label asp-for="Input.Cidade" class="form-label">Cidade: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Cidade" id="cidadeInput" class="form-control" placeholder="Digite sua cidade" />
                                    <span asp-validation-for="Input.Cidade" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-lg-3">
                                    <label asp-for="Input.Estado" class="form-label">Estado: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Estado" id="estadoInput" class="form-control" placeholder="Digite seu estado" />
                                    <span asp-validation-for="Input.Estado" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-3 col-lg-3">
                                    <label asp-for="Input.Telefone" class="form-label">Telefone: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Telefone" id="phoneInput" class="form-control" placeholder="Digite seu telefone" />
                                    <span asp-validation-for="Input.Telefone" class="text-danger"></span>
                                </div>
                                <div class="form-group mb-4 col-lg-9">
                                    <label asp-for="Input.Endereco" class="form-label">Endereço: <span class="required-mark">*</span></label>
                                    <input asp-for="Input.Endereco" id="enderecoInput" class="form-control" placeholder="Digite seu endereço" />
                                    <span asp-validation-for="Input.Endereco" class="text-danger"></span>
                                </div>
                                <div class="col-12">
                                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-success">Registrar</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<style>
    body {
        background-color: #fff;
    }

    p {
        color: #b3b3b3;
        font-weight: 300;
    }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a:hover {
        text-decoration: none !important;
    }

    label {
        float: left;
    }
    .content {
        padding: 7rem 0;
    }

    h2 {
        font-size: 20px;
    }

    @@media (min-width: 767.98px) {
        .half, .half .container > .row {
            height: 100vh;
            min-height: 700px;
        }

            .half .contents {
                background: #f6f7fc;
            }

            .half .bg {
                width: 25%;
            }

        @@media (max-width: 767.98px) {
            .half .bg {
                width: 100%;
                height: 200px;
            }
        }

        .half .contents {
            width: 75%;
        }

        @@media (max-width: 767.98px) {
            .half .contents {
                width: 100%;
            }
        }

        @@media (max-width: 767.98px) {
            .form-block {
                padding: 25px;
            }
        }

        .half .contents .form-control, .half .bg .form-control {
            border: none;
            border-radius: 4px;
            height: 54px;
            background: #efefef;
        }

            .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
                outline: none;
                -webkit-box-shadow: none;
                box-shadow: none;
            }

        .half .bg {
            background-size: cover;
            background-position: center;
        }

        .half a {
            color: #444444;
            text-decoration: underline;
        }

        .half .btn {
            padding-left: 30px;
            padding-right: 30px;
        }

        .half .forgot-pass {
            position: relative;
            top: 2px;
            font-size: 14px;
        }

        .form-block {
            background: #fff;
            padding: 40px;
            max-width: 70%;
            -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
        }

        .btn {
            text-decoration: none !important;
        }

        #fbBtn:hover {
            background-color: #4f74c2 !important;
        }

        #msBtn:hover {
            background-color: #5c5c5c !important;
        }
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            $('#phoneInput').inputmask({
                mask: ['99 99999-9999'],
                greedy: false,
                removeMaskOnSubmit: true
            });

            // $('#cepInput').inputmask({
            //     mask: ['99999999'],
            //     //greedy: false,
            //     removeMaskOnSubmit: true
            // });

            const cepInput = document.getElementById("cepInput");
            cepInput.addEventListener('change', function (e) {
                // Checa tamanho correto do CEP
                if (cepInput.value.length == 8) {
                    trackCep(cepInput.value);
                }
            });


            function trackCep(e) {
                $.ajax({
                    url: 'https://brasilapi.com.br/api/cep/v2/' + e,
                    type: 'GET',
                    dataType: 'json',
                    success: function (result) {
                        let cidade = document.getElementById('cidadeInput');
                        let estado = document.getElementById('estadoInput');
                        let endereco = document.getElementById('enderecoInput');

                        cidade.value = result.city ? result.city : "";
                        estado.value = result.state ? result.state : "";
                        endereco.value = result.street ? result.street : "";
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        });
    </script>
}
