@page
@model ForgotPasswordModel
@{
}

<div class="d-md-flex half">
    <img class="bg" src="~/images/bg_3.jpg" style="object-fit:cover; object-position: left;" alt="imagem-fundo" />
    <div class="contents">

        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-md-12">
                    <div class="form-block mx-auto">
                        <div class="text-center mb-4">
                            <h3 class="text-uppercase">Recuperação de senha</h3>
                        </div>
                        <div class="mb-2">
                            <span>Insira seu e-mail cadastrado para iniciar a recuperação da sua senha.</span>
                        </div>
                        <div>
                            <form method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <button type="submit" class="w-100 btn btn-lg btn-primary">Resetar senha</button>
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        background-color: #fff;
    }

    p {
        color: #b3b3b3;
        font-weight: 300;
    }

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease;
    }

    a:hover {
        text-decoration: none !important;
    }

    .content {
        padding: 7rem 0;
    }

    h2 {
        font-size: 20px;
    }

    @@media (min-width: 767.98px) {
        .half, .half .container > .row {
            height: 100vh;
            min-height: 700px;
        }

            .half .contents {
                background: #f6f7fc;
            }

            .half .bg {
                width: 25%;
            }

        @@media (max-width: 767.98px) {
            .half .bg {
                width: 100%;
                height: 200px;
            }
        }

        .half .contents {
            width: 75%;
        }

        @@media (max-width: 767.98px) {
            .half .contents {
                width: 100%;
            }
        }

        @@media (max-width: 767.98px) {
            .form-block {
                padding: 25px;
            }
        }

        .half .contents .form-control, .half .bg .form-control {
            border: none;
            border-radius: 4px;
            height: 54px;
            background: #efefef;
        }

        .half .contents .form-control:active, .half .contents .form-control:focus, .half .bg .form-control:active, .half .bg .form-control:focus {
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .half .bg {
            background-size: cover;
            background-position: center;
        }

        .half a {
            color: #444444;
            text-decoration: underline;
        }

        .half .btn {
            padding-left: 30px;
            padding-right: 30px;
        }

        .half .forgot-pass {
            position: relative;
            top: 2px;
            font-size: 14px;
        }

        .form-block {
            background: #fff;
            padding: 40px;
            max-width: 500px;
            -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
        }

        .btn {
            text-decoration: none !important;
        }

        #fbBtn:hover {
            background-color: #4f74c2 !important;
        }

        #msBtn:hover {
            background-color: #5c5c5c !important;
        }
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
