@model IEnumerable<Bicicleta>
@using LiddellRoch.Application.Services.Interfaces
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@inject IAvaliacaoService AvaliacaoService

@{
    var marcasList = ViewData["MarcasList"] as IEnumerable<Marca>;
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
 <section id="hero" style="height:650px">
    <div id="heroCarousel" data-bs-interval="10000" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

            <!-- Slide 1 -->
            <div class="carousel-item active" style="background-image: url(images/slide/slide_3.jpg); background-position: top;">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Nova Spark RC World Cup Evo disponível!</h2>
                        <p class="animate__animated animate__fadeInUp">Desafiando os limites da imaginação, a nova Scott Spark RC, inspirada na copa do mundo de ciclismo, chegou para elevar os quesitos de qualidade e performance. Leveza, rigidez, suavidade, segurança, potência e performance. Quer saber mais? </p>
                        <a asp-action="Detalhes" asp-route-bikeId="8" class="btn-get-started btn-success animate__animated animate__fadeInUp scrollto">VER DETALHES</a>
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide_4.png); background-position: top; background-position-y: 25%;">
                <div class="carousel-container">
                    <div class="container">
                        @* <h2 class="animate__animated animate__fadeInDown">Para todos os gostos</h2>
                        <p class="animate__animated animate__fadeInUp">De bicicletas clássicas até as mais modernas Mountain Bikes lançadas. Escolha a sua agora!</p>@* 
                        <a  href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a> *@
                    </div>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item" style="background-image: url(images/slide/slide_1.jpeg); background-position: top; background-position-y: 25%; ">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">Para todos os gostos e ritmos!</h2>
                        <p class="animate__animated animate__fadeInUp">De bicicletas clássicas até as mais modernas MTBs já lançadas. Escolha a sua agora!</p>
                        <a asp-action="ListaBikes" class="btn-get-started btn-warning animate__animated animate__fadeInUp scrollto">VEJA TODAS AS BIKES AQUI!</a>
                    </div>
                </div>
            </div>

            <!-- Slide 4 -->
            <div class="carousel-item " style="background-image: url(images/slide/slide_2.png); background-position: top; background-position-y: 20%">
                <div class="carousel-container">
                    <div class="container">
                        <h2 class="animate__animated animate__fadeInDown">LiddellRoch</h2>
                        <p class="animate__animated animate__fadeInUp">Sua próxima conquista no esporte começa com uma escolha certa.</p>
                    </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

    </div>
</section><!-- End Hero -->


<div class="row pb-3 container mt-4" style="margin: 0 auto;">
    <h3>BIKES MAIS VENDIDAS</h3>
    <partial name="_BikeListPartial" model="Model.Where(a => a.Estoque > 0).OrderByDescending(b => b.Avaliacoes.Count).Take(4).ToList() as IEnumerable<Bicicleta>" />
</div>

<div class="row pb-3 container mt-4" style="margin: 0 auto;">
    <h3>BIKES EM PROMOÇÃO</h3>
    <partial name="_BikeListPartial" model="Model.Where(a => a.Estoque > 0).OrderByDescending(b => b.DescontoPromocao).Take(4).ToList() as IEnumerable<Bicicleta>" />
</div>

<div class="row pb-3 container mt-4" style="margin: 0 auto;">
    <h3>MARCAS PARCEIRAS</h3>
    @for(int i = 1; i <= 4; i++)
    {
        <div class="col-lg-4 col-md-6 col-xl-3">
            <div class="row p-2 h-100">
                <div class="card-content col-12 p-1">
                    <div class="card-highlight bikeDiv card border-0 p-3 shadow border-top border-5 rounded justify-content-center" style="height:100%">
                        @{
                            var item = marcasList.FirstOrDefault(e => e.Id == i);
                            <a href="@item.SiteOficial" target="_blank"><img src="@item.IconUrl" width="100%" alt="@item.Nome" /></a>
                            // <span class="text-center">@item.Nome.ToUpper()</span>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div class="row pb-3 container my-4 text-center" style="margin: 0 auto;">
    <h4>CHEGOU ATÉ O FINAL E NÃO ENCONTROU A SUA? VEJA TODO NOSSO ESTOQUE <a asp-action="ListaBikes" style="color: var(--bs-success)">CLICANDO AQUI</a>.</h4>
</div>

<style>
    .card-highlight {
        pointer-events: auto;
        transform: scale(1);
        transition: all 0.4s;
    }
    .card-highlight:hover {
      opacity: 1;
      transform: scale(1.10);
    }

    .bikeBadge {
        left: 30px;
        top: 25px;
        text-align: center;
        font-size:medium;
    }

    .discount-line {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
    }
    div.row h3 {
        font-weight: 600 !important;
    }
</style>