@model IEnumerable<Bicicleta>

@{
    var query = ViewData["query"];
}

<div class="container">
    <div>
        @if (Model.Count() > 0)
        {
            @foreach (var bike in Model)
            {
                <span>@bike.Nome</span>

                <br />
            }
        }
        else
        {
            <span>Nenhum resultado para a pesquisa "@query" informada.</span>
        }

    </div>
</div>
