
<div class="container my-4">
    <h3>POLÍTICAS DE PRIVACIDADE</h3>

    <h5>1. Coleta de Informações:</h5>
    <span>LiddellRoch coleta informações quando você realiza um cadastro em nossa plataforma fictícia, faz uma compra ou interage em nossa plataforma.</span>
    <br /><br />
    <h5>2. Informações Coletadas:</h5>
    <span>Para efetuar compras <strong>simuladas</strong>, podemos coletar informações fictícias como nome, endereço, telefone e e-mail. Informações de pagamento não são armazenadas.</span>
    <br /><br />
    <h5>4. Segurança:</h5>
    <span>Implementamos medidas de segurança para proteger informações pessoais contra acesso não autorizado ou divulgação.</span>
    <br /><br />
    <h5>5. Compartilhamento de Informações:</h5>
    <span>Não vendemos, trocamos ou transferimos informações pessoais para terceiros.</span>
    <br /><br />
    <h5>6. Consentimento:</h5>
    <span>Ao utilizar nosso site fictício, você consente com nossa política de privacidade.</span>
    <br /><br />
    <h5>7. Alterações na Política de Privacidade:</h5>
    <span>Reservamo-nos o direito de atualizar ou modificar nossa política de privacidade a qualquer momento.</span>
    <br /><br />
    <h5>8. Informações Públicas:</h5>
    <span>Os produtos listados em nossa loja podem ser encontrados livremente na internet. Entretanto, não compartilhamos informações pessoais.</span>
    <br /><br />
</div>