
<div class="container my-4">
    <div class="m-lg-0 py-3">
        <div class="row">
            <div class="col-12">
                <h2 class="fw-medium">SOBRE ESTE PROJETO</h2>
                <hr />
            </div>
        </div>
    </div>
    <h6 style="text-align: justify;line-height:1.5">
        LiddellRoch é um projeto de software que simula uma loja virtual de bicicletas, em que o usuário pode navegar como em um website real, sendo permitidas ações típicas como
        se registrar, visualizar, comparar, comprar e avaliar produtos. O projeto foi idealizado como solução tecnológica para o Trabalho de Conclusão de Curso da Pós-Graduação em Desenvolvimento Web FullStack, pela instituição de
        ensino superior Pontifícia Universidade Católica de Minas Gerais - PUC Minas.</h6>
    <br />
    <h3 class="fw-medium">PERGUNTAS FREQUENTES (FAQ)</h3>
    <hr />
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Por que escolheu "LiddellRoch" como o nome do projeto?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Para mim, existe um grande significado por trás deste nome, começando lá na minha infância. Sempre fui aficionado em tecnologia, games e, pasme, aventura e esportes!
                    Dos inúmeros games disponíveis no clássico Playstation 2, um muito especial chamado "Downhill Domination" ganhava minha atenção, na qual o objetivo era simplesmente descer montanhas
                    o mais rápido possível em uma Mountain Bike, fazendo manobras e realizando grandes saltos em percursos diversos ao redor do mundo. Era muito emocionantee, e isso me cativava a cada nova fase!
                    Na mesma época, em meados de 2009, eu adorava ir ao sítio com minha família nos finais de semana, pedalando incessantemente minha bicicleta para trazer à realidade o que dentro da tela
                    era apenas imaginação e fantasia. Desde então, o ciclismo tornou-se uma parte inabalável da minha vida, tanto como esporte, terapia, hobby e meio de transporte.
                    Nessa história, <i>Liddellroch</i> veio do nome da minha fase favorita neste marcante jogo, ambientada em uma agitada descida com castelos, florestas, rios, cidades e, claro, muitos obstáculos.
                    Caso tenha curiosidade, <a href="https://www.youtube.com/watch?v=DTAs7h9YZoU&ab_channel=maggdog" target="_blank">assista aqui</a>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Como se pronuncia "LiddellRoch"?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Não acredito que exista uma regra quanto a isso, porém na versão original do game Downhill Domination, pronuncia-se como "Lidél-Rók".</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Por que uma loja de bicicletas?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    É um tema que me agrada bastante, além de que já possuo alguns conhecimento de produtos, eventos, lojas e mecânicas associadas ao ciclismo, o que
                    facilita bastante na implementação deste projeto como uma solução tecnológica.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Por que rechear o projeto com layouts e ferramentas tecnológicas desnecessárias para a entrega final?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Não sou alguém que busca a mediocridade no que faz! Meu combustível é justamente me desafiar a aprender, criar e então poder replicar em diferentes contextos de projetos
                    ao longo da vida. De longe este é o projeto pessoal na qual mais me dediquei para implementar. Complementando, gosto de parafrasear algo que li há varios anos e nunca me esqueço:
                    <br/><i><q>Quem não corre atrás do que quer, é obrigado a se contentar com o que sobra</q></i>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                    Qual a motivação ao longo do desenvolvimento do projeto?
                </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body text-center">
                    <img src="/images/bellinha.jpg" width="45%" alt="imgBellinha1"/>
                    <img src="/images/bellinha2.jpg" width="45%" alt="imgBellinha2" />
                </div>
            </div>
        </div>
    </div>

    <br />
    <h3 class="fw-medium">MENÇÃO ESPECIAL ALPHA</h3>
    <ul>
        <li class="fs-5">
            Erikson Ferreira <blockquote class="text-muted fs-6" style="font-style:italic;">- Ideias de inovação back-end, arquitetura e grande inspiração.</blockquote>
        </li>
        <li class="fs-5">
            Daniela Duarte <blockquote class="text-muted fs-6" style="font-style:italic;">- Ideias de inovação front-end, testes e análises de qualidade do software.</blockquote>
        </li>
        <li class="fs-5">
            Bernardo Pavuna & Ulisses Braga <blockquote class="text-muted fs-6" style="font-style:italic;">- Primeiros usuários clientes.</blockquote>
        </li>
    </ul>
    <br />
    <h3 class="fw-medium">TESTERS BETA</h3>
    <ul>
        <li>Adriano Gonzaga</li>
        <li>Ariane Jähring</li>
        <li>Benízio Lázaro Jr.</li>
        <li>Daniela Forte</li>
        <li>Marcos Vidal</li>
        <li>Rafael Cardoso</li>
    </ul>
    <h6 class="mb-4">A vocês, meu grandíssimo agradecimento pelo suporte direto e indireto na conclusão deste projeto tão valioso!</h6>
    <br/>
</div>

<style>
    .accordion-button {
        border: 1px #dee2e6 solid;
    }
    .accordion-item {
        border-bottom: 0;
    }
    
    .accordion-body {
        text-align: justify;
        padding-bottom: 20px;
        border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
    }
</style>