
<div class="container">
    <h1>SOBRE ESTA DEMONSTRAÇÃO</h1>

    <h5>Para você, tester, meu grandíssimo agradecimento pelo suporte direto e indireto na conclusão deste projeto tão significativo para o criador!</h5>

    <hr />
    <h2>FAQ</h2>
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Por que escolheu&nbsp;<b>"LiddellRoch"</b>&nbsp;como o nome do projeto?
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Para mim, existe um grande significado neste nome desde minha infância. Sempre fui aficionado em tecnologia, games e, pasme, esportes também!
                    No Playstation 2 havia um dos meus jogos favoritos chamado "Downhill Domination", cujo tema é autoexplicado pelo título. Nessa época em que jogava,
                    também adora ir ao sítio com meus pais, e lá minha bicicleta era minha companheira #1. Assim, era gigante a ânsia para trazer à realidade o que dentro da tela
                    era apenas imaginação e fantasia. <i>Liddellroch</i>, em específico, veio do nome da minha favorita neste jogo.
                    Caso tenha curiosidade, <a href="https://www.youtube.com/watch?v=DTAs7h9YZoU&ab_channel=maggdog" target="_blank">assista aqui</a>.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Como se pronuncia "LiddellRoch"?
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Não acredito que exista uma regra quanto a isso, porém na versão original pronuncia-se como "Lidél-Rók".</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Por que uma loja de bicicletas?
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    É um tema que me agrada bastante, além do fato de que o prévio conhecimento de produtos, eventos, lojas e mecânicas associadas ao ciclismo
                    facilita bastante a implementação deste projeto como uma solução tecnológica.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    Por que dificultar seu trabalho recheando-o com organizações, layouts e ferramentas tecnológicas desnecessárias para a entrega do projeto final?
                </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    Não sou alguém que busca a mediocridade no que faz! Meu combustível aqui é justamente o desafio em aprender, criar e então poder replicar em diferentes contextos de projetos
                    ao longo da vida. De longe este é o projeto na qual mais me dediquei para implementar. Parafraseando algo que li e nunca me esqueço:
                    <i><q>Quem não corre atrás do que quer, é obrigado a se contentar com o que sobra</q></i>.
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .accordion-button {
        border: 1px #dee2e6 solid;
    }

    .accordion-body {
        text-align:justify;
    }
</style>