@model Categoria

<div class="container">
    <div class="border-0 mt-4">
        <div class="m-lg-0 pt-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="py-2">@(Model.Id != 0 ? "Atualizar" : "Criar") Categoria</h2>
                    <hr />
                </div>
            </div>
        </div>
        <div class="pb-4">
            <form method="post">
                <div class="row">
                    @* @* <div asp-validation-summary="All"></div> *@
                    <!--div asp-validation-summary="ModelOnly"></!--div!-->
                    <input asp-for="CriadoEm" hidden />
                    <div class="form-group py-2 col-sm-12 col-md-5">
                        <label asp-for="Nome" type="text" class="mb-1">Nome: <span class="required-mark">*</span></label>
                        <input asp-for="Nome" class="form-control" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group py-2 col-sm-12 col-md-2">
                        <label asp-for="OrdemExibicao" type="text" class="mb-1">Ordem de Exibição: <span class="required-mark">*</span></label>
                        <input asp-for="OrdemExibicao" type="number" class="form-control" />
                        <span asp-validation-for="OrdemExibicao" class="text-danger"></span>
                    </div>

                    <div class="row mt-3">
                        <div class="col-6 col-md-3">
                            @if (Model.Id != 0)
                            {
                                <button type="submit" class="btn btn-primary form-control">Atualizar</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-primary form-control">Criar</button>
                            }
                        </div>
                        <div class="col-6 col-md-3">
                            <a asp-controller="Categoria" asp-action="Index" class="btn btn-outline-secondary border form-control">
                                Voltar à listagem
                            </a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}