@using LiddellRoch.DataAccess.Repository.Interfaces
@using LiddellRoch.Models;
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject IUnitOfWork unitOfWork; 

@{
    var identityUser = UserManager.GetUserName(User);
    var user = unitOfWork.ApplicationUser.GetFirstOrDefault(b => b.Email == identityUser);
}

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Visualizar perfil"><i class="fa-solid fa-user"></i> <span>@user.Nome</span></a>
    </li>

    <li class="nav-item">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link border-0" style="text-wrap: nowrap;"><i class="fas fa-sign-out-alt"></i> <span>Sair</span></button>
        </form>
    </li>
}
else
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-user"></i> &nbsp;Minha Conta</a>
        <ul class="dropdown-menu">
            <li class="nav-item mx-2">
                <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Entrar</a>
            </li>
            <li class="nav-item mx-2">
                <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            </li>
            
        </ul>
    </li>
    
}
