@model RoleManagementVm
<div class="container">
    <div class="border-0 my-4">
        <div class="ml-lg-0 py-3">
            <div class="row">
                <div class="col-12">
                    <h2 class="py-2">Gerenciar Role</h2>
                    <hr />
                </div>
            </div>
        </div>
        <div>
            <form method="post" class="row">
                <input asp-for="ApplicationUser.Id" hidden />
                <div class="form-group py-2 col-sm-12 col-md-3">
                    <label asp-for="ApplicationUser.Nome" class="mb-1"></label>
                    <input asp-for="ApplicationUser.Nome" readonly class="form-control" />
                </div>
                <div class="form-group py-2 col-sm-12 col-md-3">
                    <label asp-for="ApplicationUser.Role" class="mb-1">Role</label>
                    <select asp-for="ApplicationUser.Role" asp-items="@Model.RoleList" class="form-select"></select>
                </div>
                @{
                    var empVisible = "display:none;";
                }
                @if (Model.ApplicationUser.Role == SD.Role_Empresa)
                {
                    empVisible = "display:block;";
                }
                <div class="form-group py-2 col-12">
                    <select asp-for="ApplicationUser.EmpresaId" style="@empVisible" asp-items="@Model.EmpresaList" class="form-select">
                    </select>
                </div>

                <div class="row pt-2">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Atualizar Role</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-action="Index" class="btn btn-outline-secondary border form-control">
                            Voltar
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <script>
        $(document).ready(function () {
            $('#ApplicationUser_Role').change(function () {
                var selection = $('#ApplicationUser_Role Option:Selected').text();
                if (selection == 'Empresa') {
                    $('#ApplicationUser_EmpresaId').show();
                }
                else {
                    $('#ApplicationUser_EmpresaId').hide();
                }
            })
        })
    </script>
}