<div class="container">
    <div class="card shadow border-0 my-4">
        <div class="card-header bg-secondary bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Lista de usuários</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <table id="tblData" class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Empresa</th>
                        <th>Role</th>
                        <th class="text-center">Ações</th>
                    </tr>
                </thead>
            </table>

        </div>
    </div>

</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}