@model int
<a class="nav-link d-inline-flex p-0" asp-area="Cliente" title="Visualizar carrinho" asp-controller="Cart" asp-action="Index">
    <i class="bi bi-cart-fill fs-6"></i>
    @if (Model > 0)
    {
        <span> &nbsp;(@Model)</span>
    }
</a>