@model int
<button type="button" class="btn btn-primary position-relative">
    <i class="bi bi-cart-fill"></i>
    @if(Model > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
            @Model
            @* <span class="visually-hidden">unread messages</span> *@
        </span>
    }
    
</button>
