<div class="row pb-3 container" style="margin: 0 auto;">

    <div class="card shadow border-0 mt-4 mb-4">
        <div class="card-body">
            <div class="row">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 mt-1">Resumo</h4>
                        
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6 col-xl-4 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-end mt-2">
                                <div id="totalComprasRadialChart" data-colors='["--bs-success"]'></div>
                            </div>
                            <div>
                                <p class="text-muted mb-0">Total de Compras</p>
                                <h4 class="my-1">
                                    <span id="spanTotalComprasCount">XX</span>
                                </h4>
                            </div>
                            <p class="text-muted mt-3 mb-0" id="sectionComprasCount"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-end mt-2">
                                <div id="totalUserRadialChart" data-colors='["--bs-warning"]'></div>
                            </div>
                            <div>
                                <p class="text-muted mb-0">Total de Usuários</p>
                                <h4 class="my-1">
                                    <span id="spanTotalUserCount">XX</span>
                                </h4>
                            </div>
                            <p class="text-muted mt-3 mb-0" id="sectionUserCount"></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="float-end mt-2">
                                <div id="totalRevenueRadialChart" data-colors='["#F0006B"]'></div>
                            </div>
                            <div>
                                <p class="text-muted mb-0">Total de Receita</p>
                                <h4 class="my-1">
                                    <span id="spanTotalRevenueCount">XX</span>
                                </h4>
                            </div>
                            <p class="text-muted mt-3 mb-0" id="sectionRevenueCount"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <h4 class="mb-0 mt-1">Compras</h4>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12 col-xl-8 mt-2">
                    <div class="card h-100">
                        <div class="card-body">
                            <div>
                                <p class="text-muted mb-0">Novos usuários e compras nos últimos 30 dias</p>
                            </div>
                            <div id="newUsersAndComprasLineChart" data-colors='["--bs-warning","--bs-primary"]'>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4 mt-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="">
                                <p class="text-muted mb-0">Compras por tipo de usuário nos últimos 30 dias</p>
                            </div>
                            <div id="ComprasCategoriasPieChart" data-colors='["--bs-warning","--bs-primary"]'>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="">
                                <p class="text-muted mb-0">Status das compras nos últimos 30 dias</p>
                            </div>
                            <div id="StatusComprasPieChart" data-colors='["--bs-warning","--bs-primary","--bs-secondary", "--bs-danger", "--bs-info","--bs-dark"]'>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/dashboard/radialChart.js"></script>
    <script src="~/js/dashboard/pieChart.js"></script>
    <script src="~/js/dashboard/getTotalComprasRadial.js"></script>
    <script src="~/js/dashboard/getTotalLucroRadial.js"></script>
    <script src="~/js/dashboard/getTotalUserRadial.js"></script>
    <script src="~/js/dashboard/getComprasCategoriasPieChart.js"></script>
    <script src="~/js/dashboard/getUsersAndComprasLineChart.js"></script>
    <script src="~/js/dashboard/getStatusComprasPieChart.js"></script>
}